<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>django_project</title>
</head>

<body>
    neon genesis evangelion
    <nav>
        <ul>
            <!-- This is where you create a link TO the homepage -->
            <li><a href="{% url 'home:index' %}">Home</a></li>
            <!-- This link would take you to the episodes list -->
            <li><a href="{% url 'episodes:ep_urls' %}">All Episodes</a></li>
        </ul>
    </nav>

    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>

    </footer>
</body>

</html>